.box {
    color: black;
    border: 1px solid black;
    height: 200px;
    width: 50px;
}


@media (min-width: 320px) and (max-width: 768px) {
    .box {
        background-color: blue;
        width: 50%;
    }

    .mobile {
        display: none;
    }
}

@media (min-width: 768px) {
    .box {
        background-color: red;
        width: 100%;
    }
    .mobile {
        display: none;

    }
    .box2 {
        color: black;
        background-color: red;
        border: 1px solid black;
        height: 200px;
        width: 50%;
    }
}
